<head>
	<title>Welcome...</title>
	<meta charset = 'utf-8' lang = 'en-us'>
<link rel="stylesheet" type="text/css" href="">
</head>
<body>
	<h2> Hello, Welcome to this app</h2>
	<a href = "/leader"> leader board </a>
</body>